//
// Header Brand
//



// Header brand
.kt-header__brand {
	display: flex;
	align-items: center;
	align-content: flex-begin;
	padding: 0;
	flex-grow: 1;
	flex-basis: 0;
	max-width: 100%;
	justify-content: center;
	left: 50vw;

	.kt-header__brand-logo {
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}

	.kt-header__brand-title {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 26px;
		font-weight: 500;
		//letter-spacing: -0.5px;
		color: #1a1a27;
	}
}

// Tablet and mobile mode(1024px and below)
@include kt-tablet-and-mobile() {
	.kt-header__brand {
		//display: none;
	}
}
