<!-- begin::Sticky Toolbar -->
<ul class="kt-sticky-toolbar">
  <li
    class="kt-sticky-toolbar__item"
    id="ol-zoom-in"
    data-toggle="kt-tooltip"
    title="확대"
    data-placement="left"
  >
    <button class="btn btn-hover-custom">
      <i class="fa fa-plus" style="color: #5d78ff;"></i>
    </button>
  </li>
  <li
    class="kt-sticky-toolbar__item"
    id="ol-zoom-out"
    data-toggle="kt-tooltip"
    title="축소"
    data-placement="left"
  >
    <button class="btn btn-hover-custom">
      <i class="fa fa-minus" style="color: #5d78ff;"></i>
    </button>
  </li>
  <li
    class="kt-sticky-toolbar__item"
    id="kakao-maptype-toggle"
    data-toggle="kt-tooltip"
    title="기본/항공 지도"
    data-placement="left"
  >
    <button class="btn btn-outline-primary btn-hover-primary">
      위성
    </button>
  </li>
  <li
    class="kt-sticky-toolbar__item"
    id="kakao-roadview-toggle"
    data-toggle="kt-tooltip"
    title="로드뷰"
    data-placement="left"
  >
    <button class="btn btn-outline-primary btn-hover-primary">
      로드
    </button>
  </li>
  <li
    class="kt-sticky-toolbar__item"
    id="map-kakao-distance"
    data-toggle="kt-tooltip"
    title="거리재기"
    data-placement="left"
  >
    <button class="btn btn-outline-success btn-hover-success">
      거리
    </button>
  </li>
  <li
    class="kt-sticky-toolbar__item"
    id="map-kakao-area"
    data-toggle="kt-tooltip"
    title="면적재기"
    data-placement="left"
  >
    <button class="btn btn-outline-success btn-hover-success">
      면적
    </button>
  </li>
</ul>

<!-- end::Sticky Toolbar -->
