<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
  {{> topbar_nav}}

  <!--[html-partial:include:{"file":"partials/_header/topbar/_search.html"}]/-->
  {{> topbar_search}}

  <!--[html-partial:include:{"file":"partials/_header/topbar/_notifications.html"}]/-->
  {{!-- {{> topbar_notifications}}--}}

  <!--[html-partial:include:{"file":"partials/_header/topbar/_quick-actions.html"}]/-->
  {{!-- {{> topbar_quick_actions}}--}}

  <!--[html-partial:include:{"file":"partials/_header/topbar/_my-cart.html"}]/-->
  {{!-- {{> topbar_my_cart}}--}}

  <!--[html-partial:include:{"file":"partials/_header/topbar/_quick-panel.html"}]/-->
  {{!-- {{> topbar_quick_panel}}--}}

  <!--[html-partial:include:{"file":"partials/_header/topbar/_user.html"}]/-->
  {{> topbar_user}}
</div>

<!-- end:: Header Topbar -->
