<!--begin: Nav -->
<div
    class="kt-header__topbar-item kt-header__topbar-item--user"
    style="margin-left: 0.75rem;"
>
  <div
      id="kt-notification-section-l-sel"
      class="kt-header__topbar-wrapper"
      data-toggle="dropdown"
      data-offset="0px,5px"
  >
    <div class="kt-header__topbar-user" id="viw_wtl_wtsa_as_sel" style="color: #5d78ff;">대블럭</div>
  </div>
  <div
      class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim"
      style="position: absolute; transform: translate3d(0px, 0px, 0px); top: 0; left: 0; will-change: transform;"
  >
    <div class="kt-notification" id="kt-notification-section-l">
      <!-- 항목 예시 -->
      <!--
      <a href="#" class="kt-notification__item kt-notification__item-compact">
        <div class="kt-notification__item-details">
          <div class="kt-notification__item-title">
            블럭
          </div>
        </div>
      </a>
    --></div>
  </div>
</div>
<div
    class="kt-header__topbar-item kt-header__topbar-item--user"
    style="margin-left: 0.75rem;"
>
  <div
      id="kt-notification-section-m-sel"
      class="kt-header__topbar-wrapper"
      data-toggle="dropdown"
      data-offset="0px,5px"
  >
    <div class="kt-header__topbar-user" id="viw_wtl_wtssa_as_sel" style="color: #5d78ff;">중블럭</div>
  </div>
  <div
      class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim"
      style="position: absolute; transform: translate3d(0px, 0px, 0px); top: 0; left: 0; will-change: transform;"
  >
    <div class="kt-notification" id="kt-notification-section-m"></div>
  </div>
</div>
<div
    class="kt-header__topbar-item kt-header__topbar-item--user"
    style="margin-left: 0.75rem;"
>
  <div
      id="kt-notification-section-s-sel"
      class="kt-header__topbar-wrapper"
      data-toggle="dropdown"
      data-offset="0px,5px"
  >
    <div class="kt-header__topbar-user" id="viw_wtl_wtsba_as_sel" style="color: #5d78ff;">소블럭</div>
  </div>
  <div
      class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim"
      style="position: absolute; transform: translate3d(0px, 0px, 0px); top: 0; left: 0; will-change: transform;"
  >
    <div
        class="kt-notification kt-scroll"
        data-scroll="true"
        data-height="600"
        data-mobile-height="200"
        id="kt-notification-section-s"
    ></div>
  </div>
</div>
<div
    id="kt-notification-section-reset"
    class="kt-header__topbar-item kt-header__topbar-item--user"
    style="margin-left: 0.75rem;"
    data-toggle="kt-tooltip"
    title="블럭 초기화"
>
  <div class="kt-header__topbar-wrapper">
    <div class="kt-header__topbar-user" style="color: #646c9a;width: 44px">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <rect x="0" y="0" width="24" height="24"/>
          <path d="M8.43296491,7.17429118 L9.40782327,7.85689436 C9.49616631,7.91875282 9.56214077,8.00751728 9.5959027,8.10994332 C9.68235021,8.37220548 9.53982427,8.65489052 9.27756211,8.74133803 L5.89079566,9.85769242 C5.84469033,9.87288977 5.79661753,9.8812917 5.74809064,9.88263369 C5.4720538,9.8902674 5.24209339,9.67268366 5.23445968,9.39664682 L5.13610134,5.83998177 C5.13313425,5.73269078 5.16477113,5.62729274 5.22633424,5.53937151 C5.384723,5.31316892 5.69649589,5.25819495 5.92269848,5.4165837 L6.72910242,5.98123382 C8.16546398,4.72182424 10.0239806,4 12,4 C16.418278,4 20,7.581722 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 L6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,8.6862915 15.3137085,6 12,6 C10.6885336,6 9.44767246,6.42282109 8.43296491,7.17429118 Z" fill="#000000" fill-rule="nonzero"/>
        </g>
      </svg>
    </div>
  </div>
</div>
<!--end: Nav -->
